Chazi/Chameleon.xcodeproj/Azi.mode1v3
Chazi/Chameleon.xcodeproj/Azi.pbxuser
Chazi/Chameleon.xcodeproj/project.xcworkspace
Chazi/Chameleon.xcodeproj/xcuserdata
Chazi/build
Chazi/i386/modules/module_includes
Chazi/obj
Chazi/revision
Chazi/sym
Cleancut/Chameleon.xcodeproj/Azi.mode1v3
Cleancut/Chameleon.xcodeproj/Azi.pbxuser
Cleancut/Chameleon.xcodeproj/project.xcworkspace
Cleancut/Chameleon.xcodeproj/xcuserdata
Cleancut/build
Cleancut/i386/modules/module_includes
Cleancut/obj
Cleancut/revision
Cleancut/sym
