* text=auto !eol
/APPLE_LICENSE -text
/CHANGES -text
/CREDITS -text
Chameleon.xcodeproj/project.pbxproj -text
/GPL_V2_LICENSE -text
/MEMTEST86_LICENSE -text
/Makefile -text
/README -text
/TODO -text
artwork/themes/bullet/background.png -text
artwork/themes/bullet/boot.png -text
artwork/themes/bullet/device_cdrom.png -text
artwork/themes/bullet/device_ext3.png -text
artwork/themes/bullet/device_fat16.png -text
artwork/themes/bullet/device_fat32.png -text
artwork/themes/bullet/device_generic.png -text
artwork/themes/bullet/device_hfsplus.png -text
artwork/themes/bullet/device_ntfs.png -text
artwork/themes/bullet/device_scroll_next.png -text
artwork/themes/bullet/device_scroll_prev.png -text
artwork/themes/bullet/device_selection.png -text
artwork/themes/bullet/font_console.png -text
artwork/themes/bullet/font_small.png -text
artwork/themes/bullet/logo.png -text
artwork/themes/bullet/menu_boot.png -text
artwork/themes/bullet/menu_help.png -text
artwork/themes/bullet/menu_ignore_caches.png -text
artwork/themes/bullet/menu_ignore_caches_disabled.png -text
artwork/themes/bullet/menu_memory_info.png -text
artwork/themes/bullet/menu_selection.png -text
artwork/themes/bullet/menu_single_user.png -text
artwork/themes/bullet/menu_single_user_disabled.png -text
artwork/themes/bullet/menu_verbose.png -text
artwork/themes/bullet/menu_verbose_disabled.png -text
artwork/themes/bullet/menu_video_info.png -text
artwork/themes/bullet/progress_bar.png -text
artwork/themes/bullet/progress_bar_background.png -text
artwork/themes/bullet/text_scroll_next.png -text
artwork/themes/bullet/text_scroll_prev.png -text
artwork/themes/bullet/theme.plist -text
artwork/themes/default/background.png -text
artwork/themes/default/boot.png -text
artwork/themes/default/device_cdrom.png -text
artwork/themes/default/device_cdrom_o.png -text
artwork/themes/default/device_ext3.png -text
artwork/themes/default/device_ext3_o.png -text
artwork/themes/default/device_fat.png -text
artwork/themes/default/device_fat_o.png -text
artwork/themes/default/device_generic.png -text
artwork/themes/default/device_generic_o.png -text
artwork/themes/default/device_hfsplus.png -text
artwork/themes/default/device_hfsplus_o.png -text
artwork/themes/default/device_hfsraid.png -text
artwork/themes/default/device_hfsraid_o.png -text
artwork/themes/default/device_ntfs.png -text
artwork/themes/default/device_ntfs_o.png -text
artwork/themes/default/device_scroll_next.png -text
artwork/themes/default/device_scroll_prev.png -text
artwork/themes/default/device_selection.png -text
artwork/themes/default/font_console.png -text
artwork/themes/default/font_small.png -text
artwork/themes/default/logo.png -text
artwork/themes/default/menu_boot.png -text
artwork/themes/default/menu_help.png -text
artwork/themes/default/menu_ignore_caches.png -text
artwork/themes/default/menu_ignore_caches_disabled.png -text
artwork/themes/default/menu_memory_info.png -text
artwork/themes/default/menu_selection.png -text
artwork/themes/default/menu_single_user.png -text
artwork/themes/default/menu_single_user_disabled.png -text
artwork/themes/default/menu_verbose.png -text
artwork/themes/default/menu_verbose_disabled.png -text
artwork/themes/default/menu_video_info.png -text
artwork/themes/default/progress_bar.png -text
artwork/themes/default/progress_bar_background.png -text
artwork/themes/default/text_scroll_next.png -text
artwork/themes/default/text_scroll_prev.png -text
artwork/themes/default/theme.plist -text
artwork/themes/embed/background.png -text
artwork/themes/embed/boot.png -text
artwork/themes/embed/device_cdrom.png -text
artwork/themes/embed/device_ext3.png -text
artwork/themes/embed/device_fat.png -text
artwork/themes/embed/device_generic.png -text
artwork/themes/embed/device_hfsplus.png -text
artwork/themes/embed/device_hfsraid.png -text
artwork/themes/embed/device_ntfs.png -text
artwork/themes/embed/device_scroll_next.png -text
artwork/themes/embed/device_scroll_prev.png -text
artwork/themes/embed/device_selection.png -text
artwork/themes/embed/font_console.png -text
artwork/themes/embed/font_small.png -text
artwork/themes/embed/logo.png -text
artwork/themes/embed/menu_boot.png -text
artwork/themes/embed/menu_help.png -text
artwork/themes/embed/menu_ignore_caches.png -text
artwork/themes/embed/menu_ignore_caches_disabled.png -text
artwork/themes/embed/menu_memory_info.png -text
artwork/themes/embed/menu_selection.png -text
artwork/themes/embed/menu_single_user.png -text
artwork/themes/embed/menu_single_user_disabled.png -text
artwork/themes/embed/menu_verbose.png -text
artwork/themes/embed/menu_verbose_disabled.png -text
artwork/themes/embed/menu_video_info.png -text
artwork/themes/embed/progress_bar.png -text
artwork/themes/embed/progress_bar_background.png -text
artwork/themes/embed/text_scroll_next.png -text
artwork/themes/embed/text_scroll_prev.png -text
artwork/themes/embed/theme.plist -text
artwork/themes/legacy/background.png -text
artwork/themes/legacy/boot.png -text
artwork/themes/legacy/device_cdrom.png -text
artwork/themes/legacy/device_ext3.png -text
artwork/themes/legacy/device_fat.png -text
artwork/themes/legacy/device_generic.png -text
artwork/themes/legacy/device_hfsplus.png -text
artwork/themes/legacy/device_ntfs.png -text
artwork/themes/legacy/device_scroll_next.png -text
artwork/themes/legacy/device_scroll_prev.png -text
artwork/themes/legacy/device_selection.png -text
artwork/themes/legacy/font_console.png -text
artwork/themes/legacy/font_small.png -text
artwork/themes/legacy/logo.png -text
artwork/themes/legacy/menu_boot.png -text
artwork/themes/legacy/menu_help.png -text
artwork/themes/legacy/menu_ignore_caches.png -text
artwork/themes/legacy/menu_ignore_caches_disabled.png -text
artwork/themes/legacy/menu_memory_info.png -text
artwork/themes/legacy/menu_selection.png -text
artwork/themes/legacy/menu_single_user.png -text
artwork/themes/legacy/menu_single_user_disabled.png -text
artwork/themes/legacy/menu_verbose.png -text
artwork/themes/legacy/menu_verbose_disabled.png -text
artwork/themes/legacy/menu_video_info.png -text
artwork/themes/legacy/progress_bar.png -text
artwork/themes/legacy/progress_bar_background.png -text
artwork/themes/legacy/text_scroll_next.png -text
artwork/themes/legacy/text_scroll_prev.png -text
artwork/themes/legacy/theme.plist -text
artwork/themes/msi_netbook/logo.png -text
artwork/themes/msi_netbook/theme.plist -text
artwork/themes/pinktink/logo.png -text
artwork/themes/pinktink/theme.plist -text
artwork/themes/twilight/font_small.png -text
artwork/themes/twilight/logo.png -text
artwork/themes/twilight/theme.plist -text
/coding_standards.txt -text
doc/BootHelp.txt -text
doc/README -text
doc/Users_Guide0.5.pdf -text
doc/themeinfo.png -text
i386/MakeInc.dir -text
i386/MakePaths.dir -text
i386/Makefile -text
i386/boot0/Makefile -text
i386/boot0/boot0.s -text
i386/boot0/chain0.s -text
i386/boot1/Makefile -text
i386/boot1/boot1.s -text
i386/boot1/boot1f32-install.sh -text
i386/boot1/boot1f32.s -text
i386/boot1/boot1he.s -text
i386/boot1/boot1hp.s -text
i386/boot2/IOHibernatePrivate.h -text
i386/boot2/Makefile -text
i386/boot2/WKdm.h -text
i386/boot2/WKdmDecompress.c -text
i386/boot2/appleClut8.h -text
i386/boot2/appleboot.h -text
i386/boot2/bmdecompress.c -text
i386/boot2/boot.c -text
i386/boot2/boot.h -text
i386/boot2/boot2.s -text
i386/boot2/drivers.c -text
i386/boot2/graphic_utils.c -text
i386/boot2/graphic_utils.h -text
i386/boot2/graphics.c -text
i386/boot2/graphics.h -text
i386/boot2/gui.c -text
i386/boot2/gui.h -text
i386/boot2/lzss.c -text
i386/boot2/mboot.c -text
i386/boot2/mboot.h -text
i386/boot2/multiboot.h -text
i386/boot2/options.c -text
i386/boot2/picopng.c -text
i386/boot2/picopng.h -text
i386/boot2/prompt.c -text
i386/boot2/ramdisk.c -text
i386/boot2/ramdisk.h -text
i386/boot2/resume.c -text
i386/cdboot/Makefile -text
i386/cdboot/cdboot.s -text
i386/cdboot/cdboothdd.s -text
i386/doc/Limits -text
i386/doc/README -text
i386/libsa/Makefile -text
i386/libsa/efi_tables.c -text
i386/libsa/efi_tables.h -text
i386/libsa/error.c -text
i386/libsa/libsa.h -text
i386/libsa/memory.h -text
i386/libsa/prf.c -text
i386/libsa/printf.c -text
i386/libsa/qsort.c -text
i386/libsa/setjmp.s -text
i386/libsa/string.c -text
i386/libsa/strtol.c -text
i386/libsa/zalloc.c -text
i386/libsaio/Makefile -text
i386/libsaio/acpi.h -text
i386/libsaio/acpi_patcher.c -text
i386/libsaio/acpi_patcher.h -text
i386/libsaio/allocate.c -text
i386/libsaio/aml_generator.c -text
i386/libsaio/aml_generator.h -text
i386/libsaio/asm.s -text
i386/libsaio/ati.c -text
i386/libsaio/ati.h -text
i386/libsaio/bios.h -text
i386/libsaio/bios.s -text
i386/libsaio/biosfn.c -text
i386/libsaio/bootstruct.c -text
i386/libsaio/bootstruct.h -text
i386/libsaio/cache.c -text
i386/libsaio/console.c -text
i386/libsaio/convert.c -text
i386/libsaio/convert.h -text
i386/libsaio/cpu.c -text
i386/libsaio/cpu.h -text
i386/libsaio/device_inject.c -text
i386/libsaio/device_inject.h -text
i386/libsaio/device_tree.c -text
i386/libsaio/device_tree.h -text
i386/libsaio/disk.c -text
i386/libsaio/disk.h -text
i386/libsaio/dram_controllers.c -text
i386/libsaio/dram_controllers.h -text
i386/libsaio/efi.h -text
i386/libsaio/ext2fs.c -text
i386/libsaio/ext2fs.h -text
i386/libsaio/fake_efi.c -text
i386/libsaio/fake_efi.h -text
i386/libsaio/fdisk.h -text
i386/libsaio/hfs.c -text
i386/libsaio/hfs.h -text
i386/libsaio/hfs_CaseTables.h -text
i386/libsaio/hfs_compare.c -text
i386/libsaio/hpet.c -text
i386/libsaio/hpet.h -text
i386/libsaio/io_inline.h -text
i386/libsaio/libsaio.h -text
i386/libsaio/load.c -text
i386/libsaio/md5c.c -text
i386/libsaio/memvendors.h -text
i386/libsaio/misc.c -text
i386/libsaio/msdos.c -text
i386/libsaio/msdos.h -text
i386/libsaio/msdos_private.h -text
i386/libsaio/nbp.c -text
i386/libsaio/nbp_cmd.h -text
i386/libsaio/ntfs.c -text
i386/libsaio/ntfs.h -text
i386/libsaio/ntfs_private.h -text
i386/libsaio/nvidia.c -text
i386/libsaio/nvidia.h -text
i386/libsaio/pci.c -text
i386/libsaio/pci.h -text
i386/libsaio/pci_root.c -text
i386/libsaio/pci_root.h -text
i386/libsaio/pci_setup.c -text
i386/libsaio/platform.c -text
i386/libsaio/platform.h -text
i386/libsaio/saio_internal.h -text
i386/libsaio/saio_types.h -text
i386/libsaio/sl.h -text
i386/libsaio/smbios.c -text
i386/libsaio/smbios.h -text
i386/libsaio/smbios_decode.c -text
i386/libsaio/smbios_getters.c -text
i386/libsaio/smbios_getters.h -text
i386/libsaio/spd.c -text
i386/libsaio/spd.h -text
i386/libsaio/stringTable.c -text
i386/libsaio/sys.c -text
i386/libsaio/table.c -text
i386/libsaio/ufs.c -text
i386/libsaio/ufs.h -text
i386/libsaio/ufs_byteorder.c -text
i386/libsaio/ufs_byteorder.h -text
i386/libsaio/usb.c -text
i386/libsaio/vbe.c -text
i386/libsaio/vbe.h -text
i386/libsaio/xml.c -text
i386/libsaio/xml.h -text
i386/util/Makefile -text
i386/util/bdmesg.c -text
i386/util/machOconv.c -text
package/Distribution -text
package/Kexts/AHCIPortInjector.kext/Contents/Info.plist -text
package/Kexts/ATAPortInjector.kext/Contents/Info.plist -text
package/Kexts/Disabler.kext/Contents/Info.plist -text
package/Kexts/Disabler.kext/Contents/MacOS/Disabler -text
package/Kexts/IOAHCIBlockStorageInjector.kext/Contents/Info.plist -text
package/Kexts/JMicronATAInjector.kext/Contents/Info.plist -text
package/Resources/English.lproj/Conclusion.rtfd/TXT.rtf -text
package/Resources/English.lproj/Description.html -text
package/Resources/English.lproj/License.rtf -text
package/Resources/English.lproj/Localizable.strings -text
package/Resources/English.lproj/Welcome.rtfd/TXT.rtf -text
package/Resources/French.lproj/Conclusion.rtfd/TXT.rtf -text
package/Resources/French.lproj/Description.html -text
package/Resources/French.lproj/License.rtf -text
package/Resources/French.lproj/Localizable.strings -text
package/Resources/French.lproj/Welcome.rtfd/TXT.rtf -text
package/Resources/German.lproj/Conclusion.rtfd/TXT.rtf -text
package/Resources/German.lproj/Description.html -text
package/Resources/German.lproj/License.rtf -text
package/Resources/German.lproj/Localizable.strings -text
package/Resources/German.lproj/Welcome.rtfd/TXT.rtf -text
package/Resources/Italian.lproj/Conclusion.rtfd/TXT.rtf -text
package/Resources/Italian.lproj/Description.html -text
package/Resources/Italian.lproj/License.rtf -text
package/Resources/Italian.lproj/Localizable.strings -text
package/Resources/Italian.lproj/Welcome.rtfd/TXT.rtf -text
package/Resources/Spanish.lproj/Conclusion.rtfd/TXT.rtf -text
package/Resources/Spanish.lproj/Description.html -text
package/Resources/Spanish.lproj/License.rtf -text
package/Resources/Spanish.lproj/Localizable.strings -text
package/Resources/Spanish.lproj/Welcome.rtfd/TXT.rtf -text
package/Resources/background.tiff -text
package/Scripts/FAT/postinstall -text
package/Scripts/HFS/postinstall -text
package/Scripts/Options/EHCIacquire/postinstall -text
package/Scripts/Options/EthernetBuiltIn/postinstall -text
package/Scripts/Options/ForceHPET/postinstall -text
package/Scripts/Options/ForceWake/postinstall -text
package/Scripts/Options/GUI/postinstall -text
package/Scripts/Options/GraphicsEnabler/postinstall -text
package/Scripts/Options/UHCIreset/postinstall -text
package/Scripts/Post/postinstall -text
package/Scripts/Standard/postinstall -text
package/buildpkg -text
package/fdisk -text
package/smbios.plist -text
/version -text
