Dev/.config*
Dev/Chameleon.xcodeproj/*.mode*
Dev/Chameleon.xcodeproj/*.pbxuser
Dev/Chameleon.xcodeproj/project.xcworkspace
Dev/Chameleon.xcodeproj/xcuserdata
Dev/auto.conf
Dev/autoconf.h
Dev/autoconf.inc
Dev/build
Dev/i386/modules/module_includes
Dev/obj
Dev/package/Resources/zh-CN.lproj
Dev/package/Resources/zh-TW.lproj
Dev/package/po/*.mo
Dev/revision
Dev/sym
Dev/vers.h
Release/.config*
Release/Chameleon.xcodeproj/*.mode*
Release/Chameleon.xcodeproj/*.pbxuser
Release/Chameleon.xcodeproj/project.xcworkspace
Release/Chameleon.xcodeproj/xcuserdata
Release/auto.conf
Release/autoconf.h
Release/autoconf.inc
Release/build
Release/i386/modules/module_includes
Release/obj
Release/revision
Release/sym
